.card {
    width: calc(100% - 20px);
    background-color: white;
    display: inline-flex;
    margin: 10px;
}

.card-logo {
    padding: 10px;
    width: 160px;
    height: 160px;
}

.card-content {
    padding: 10px;

    .city-mobile {
        display: none;
    }

    .section-price {
        display: inline-flex;
        align-items: center;

        .price {
            display: block;
            font-size: 24px;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;

            .decimal {
                font-size: 10px;
            }
        }

        .free_shipping_img {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background-image: url("../../../assets/ic_shipping.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}

.card-actions {
    margin: auto 10px auto auto;
    min-width: 100px;

    .free_shipping_img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background-image: url("../../../assets/ic_shipping.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

@media (max-width: 500px) {
    .card-actions {
        display: none;
    }

    .card-content {
        padding: 0 10px;

        .section-price {
            display: block;

            .free_shipping_img {
                margin-left: 0;
            }
        }

        .city-mobile {
            display: block;
        }
    }
}