nav {
    padding: 16px 0;
}

.breadcrumb-not-active {
    color: #cccccc;
}

.breadcrumb-active {
    color: #000000;
}

.breadcrumb-arrow {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
}